@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-dark-100: #1a1a1a;
  --color-dark-200: #1f1f1f;
  --color-dark-300: #2d2d2d;
  --color-dark-400: #3d3d3d;
  --color-purple: #8b5cf6;
  --color-pink: #ec4899;
  --color-blue: #3b82f6;
}

* {
  font-family: Inter, Saira, sans-serif;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth !important;
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid #8b5cf6;
  white-space: nowrap;
  display: inline-block;
  width: 0;
  animation:
    typing 3s steps(20, end) forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 20ch;
  }
}

@keyframes blink-caret {
  0%,
  100% {
    border-color: #8b5cf6;
  }
  50% {
    border-color: transparent;
  }
}
